---
// Component Imports
import { OvaCard } from "@/components/card/ova-card";
import BaseLayout from "../layouts/main.astro";
import { Filter } from "@/components/filter/filter";
---

<BaseLayout
  title="Astro + Tailwind CSS + Radix UI"
  description="Astro + Tailwind CSS + Radix UI"
>
  <section class="w-full h-full grid grid-rows-[auto_1fr] gap-2.5 border-2 border-yellow-500">
    <Filter client:idle />
    <div class="container-grid container-border px-3 py-2.5">
      <OvaCard />
      <OvaCard />
      <OvaCard />
      <OvaCard />
      <OvaCard />
      <OvaCard />
    </div>
  </section>
</BaseLayout>
