---
// Component Imports
import BaseLayout from "../layouts/main.astro";
import { OvaService } from "@/services/ova-service";
import { Alert, AlertTitle, AlertDescription } from "@/components/ui/alert";
import { ServerCrash } from "lucide-react";
import { OvaView } from "@/components/ova-view/ova-view";

const ovaService = new OvaService("http://localhost:3001/api/ovas");
const ovas = await ovaService.fetchOvas();
const groups = await ovaService.fetchOvaGroups();
---

<BaseLayout title="200 OVAS 2025 📚" description="Project 200 OVAS 2025">
  <section class="w-full h-full grid grid-rows-[auto_1fr] gap-2.5">
    {
      !ovas.success && (
        <div class="container-border h-fit px-10 py-8 not-prose z-[15] relative bg-[radial-gradient(#80808080_1px,transparent_1px)] shadow-light dark:shadow-dark [background-size:16px_16px]">
          <Alert>
            <ServerCrash className="h-6 w-6 inline-flex justify-center items-center" />
            <AlertTitle>Error</AlertTitle>
            <AlertDescription>{ovas.message}</AlertDescription>
          </Alert>
        </div>
      )
    }

    {ovas.success && <OvaView client:load data={ovas.data} groups={groups} />}
  </section>
</BaseLayout>
